/* Estilo do footer fixo */
.footer {
  background-color: rgb(22, 18, 31);  /* Cor de fundo semelhante ao tema */
  color: white;  /* Texto branco */
  text-align: center;  /* Centraliza o texto */
  padding: 10px 0;  /* Espaçamento interno */
  font-size: 14px;  /* Tamanho da fonte */
  font-family: 'Roboto', sans-serif;  /* Fonte coerente com o resto do site */
  
  position: relative;  /* Mudando para 'relative' */
  margin-top: auto;  /* Vai para o final do conteúdo */
  width: 100%;  /* Faz o footer ocupar toda a largura da tela */
}

.footer p {
  margin: 0;  /* Remove margens extras */
}

/* Fazendo com que o conteúdo ocupe pelo menos 100vh */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;  /* Faz o conteúdo ocupar o restante do espaço */
}
