.Galeria-container img{
  filter: grayscale(100%);
}
.fotos-mobile:hover {
  filter: grayscale(0%); /* Remove o efeito grayscale */
}
.fotos-pc:hover{
  filter: grayscale(0%);
}
.Galeria-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotos-mobile {
  width: 80%;       /* Faz a imagem ocupar 80% da largura da div */
  max-width: 500px; /* Limita a largura da imagem a no máximo 500px */
  object-fit: contain;
  transition: filter 0.3s ease;
  border-radius: 15px; /* Garante que a imagem seja ajustada sem distorção */
}
.fotos-pc{
   transition: filter 0.3s ease;
   border-radius: 15px;
}
@media screen and (max-width: 1500px ) {
  .fotos-pc{
    display: none;
  }
}
@media screen and (min-width: 1500px ) {
  .fotos-mobile{
    display: none;
  }
}