/* Brothers Cup - Global styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Leaflet container fix */
.leaflet-container {
  height: 100%;
  width: 100%;
}
